.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    height: 300px;
    background-color: var(--color-main);
    border-radius: var(--border-radius);
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        width: 100%;
        max-width: 100%;
    }
}

.description {
    width: 100%;

    .descriptionValue {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.additionalInformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    width: 100%;
}
